.main {
    color: gold;
    background-color: red;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-family: "Optima";
}

.b1 {
    margin-left: +350px;
}

.b2 {
    margin-left: +500px;
}

.b3 {
    margin-left: +730px;
}

.b1,
.b2,
.b3 {
    color: white;
    background-color: red;
    font-size: 30px;
    box-shadow: 0px 0px 10px 5px white;
}

html {
    background-color: black;
    border-style: dotted;
    border-color: yellow;
}

.gif {
    margin-left: 755px;
}