/* css for index*/
.main {
    color: gold;
    background-color: red;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    font-family: "Optima";
}

.b1 {
    margin-left: +350px;
}

.b2 {
    margin-left: +500px;
}

.b3 {
    margin-left: +730px;
}

.b1,
.b2,
.b3 {
    color: white;
    background-color: red;
    font-size: 30px;
    box-shadow: 0px 0px 10px 5px white;
}

html {
    background-color:black;
    border-style: dotted;
    border-color: yellow;
    color: white;
}

.alf-pic {
    margin-left: 755px;
    height: auto;
    width: 400px;
    display: block;
    margin: auto;
    padding: auto;
}

.img-txt-a {
    position: absolute;
    height: 30%;
    text-align: center;
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 275px;
    right: 0;
    left: 0;
    font-size: 30px;
}

.pizza-pic {
    margin-left: 255px;
    height: auto;
    width: 400px;
    display: block;
    margin: auto;
    padding: auto;
}

.img-txt-b {
    position: absolute;
    height: 30%;
    text-align: center;
    width: 100%;
    margin: auto;
    top: 340px;
    bottom: 0px;
    right: 0;
    left: 0;
    font-size: 30px;
}

.smoothie-pic {
    margin-left: 955px;
    height: auto;
    width: 400px;
    display: block;
    margin: auto;
    padding: auto;
}

.img-txt-c {
    position: absolute;
    height: 30%;
    text-align: center;
    width: 100%;
    margin: auto;
    top: 1000px;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 30px;
}

/* css for alfredo*/
.alfredo {
    height: auto;
    width: 400px;
    margin-left: 750px;
}

h1 {
    color: red;
    text-align: center;
}

h2 {
    text-align: center;
    color:black;
    background-color:yellow;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
}

.intro{
    text-align: center;
}

h3 {
    color: white;
    background-color: red;
    font-size: 30px;
}

li {
    color: yellow;
    font-size: 20px;
}

h4 {
    color:red;
}
/* css for alfredo*/
